// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #423832;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #6b879a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}

.logo-background {
  // background-image: url(/background_logo.png);
  // background-repeat: no-repeat;
  // background-position: left -4px bottom 14px;
  // background-size: 180px;
}

html {
  font-size: 18px;
}

hr {
  width: auto;
}

.outreach {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--gray);
  fill: var(--gray);
  font-weight: revert;
  margin: revert;
  padding: revert;
}

.header_logo {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  padding-right: 25px;
}

header {
  height: 104px;
  margin-bottom: 3em;
}

.header_logo img {
  margin-top: 0px;
  margin-bottom: 0px;
  // margin-right: 2em;
  // max-width: 75%;
}

.singlePage {
  padding-top: 0px;
}

.iframe-container {
  margin-bottom: 20px;
}

header>svg {
  cursor: pointer;
  width: 18px;
  margin: 0 1em;
  padding: 8px;
  border: 1px solid #4e4e4e5e !important;
  display: inline-block;
  border-radius: 8px;
  position: relative;
  //top: 12px;
}

.outreach {
  // border-bottom: 1px solid var(--outlinegray);
  // margin: 40px auto;
  padding: 12px 0px;
  text-align: center;

  h3 {
    margin-bottom: 0px;
    margin-block-start: 0px;
  }
}

p {
  margin-block-start: 0em;
}

footer {
  margin-top: 2em;
}

.formkit-guarantee {
  display: none;
}

.formkit-form {
  background: none !important;
}

.formkit-powered-by-convertkit-container {
  display: none !important;
}

.formkit-form[data-uid="498077a8fd"][min-width~="600"] [data-style="minimal"] {
  padding: 0px 20px 15px 20px !important;
}

.formkit-form[data-uid="498077a8fd"] {
  max-width: 100% !important;
}

.hanchor {
  display: none;
}

.footer {
  border-top: 1px solid var(--outlinegray);
  background-color: var(--light);
  padding: 25px 30vw;

  @media all and (max-width: 1200px) {
    padding: 25px 5vw;
  }
}



.singlePage {
  h1,h2,h3,h4,h5 {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  ul {
    margin-top: 0px;
    li {
      margin-bottom: 6px;
    }
  }

  blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
  }
  blockquote > p { 
    font-size: 16px;
  }
}

article>.meta {
  margin: 10px 0 1em;
  text-align: center;
}

.section-li {
  h3 {
    margin-top: 0px;
  }

  p {
    margin-bottom: 0px
  }
}

.section-ul>li{
  padding: 1em;
}
