<div class="outreach">
  <h3>Have a question?</h3>
  <p>Reach out via <strong><a href="mailto:ererciyes+pw@gmail.com" target="_blank">Email</a></strong> or <strong><a href="https://twitter.com/ererciyes" target="_blank">Twitter</a></strong>.</p>
  <p>If you liked the post, <a href="https://twitter.com/intent/tweet?url={{.Permalink}}&text={{.Title}}&via=ererciyes" target="_blank">click here to share it with your friends on Twitter</a>.<br /> I ♥️ hearing when the post was helpful. It makes me smile 😄.</p>
</div>
