<ul class="section-ul">
    {{- range . -}}
    <li class="section-li">
        <div class="section">
            <div class="desc">
                <h3><a href="{{ .Permalink }}">
                  {{if .Title}}
                      {{- .Title -}}
                  {{else}}
                      {{ $fileName := path.Base .File.Path}}
                      {{strings.TrimSuffix ".md" $fileName}}
                  {{end}}
                </a></h3>
<!--                 <ul class="tags">
                    {{ range (.GetTerms "tags") }}
                    <li><a href="{{ .Permalink }}">{{ .LinkTitle | title}}</a></li>
                    {{ end }}
                </ul>
                <p>{{- .Summary -}}{{if .Truncated}}...{{end}}</p> -->
            </div>
            <p class="meta">
               <!--  {{ .ReadingTime }} minute read --> <!-- Last updated {{if ne .Date .Lastmod}}{{ .Lastmod.Format "January 2, 2006" }}{{else}}Unknown{{end}} -->
            </p>

        </div>
    </li>
    {{- end -}}
</ul>
